.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
  padding-left: 36px;
}

.logo {
  margin-top: 50px;
  margin-bottom: 80px;
}

.informacoes h1 {
  margin-bottom: 8px;
}

.informacoes p {
  margin-bottom: 8px;
}

.informacoes p:last-of-type {
  margin-bottom: 50px;
}

.form {
  margin-bottom: 50px;
}

.form label {
  display: block;
  margin-bottom: 16px;
}

.form input[type="email"] {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  border: 0px solid transparent;
  border-left: 10px solid #04d361;
}

.form input[type="email"]:focus {
  outline: none;
}

.email {
  display: flex;
}

.email img {
  border: 1px solid #8257e5;
}

.botao {
  border: 1px solid #8257e5;
}

.link {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  width: max-content;
}

.link::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0px;
  margin-top: 30px;
  background-color: var(--cor-3);
  transition: 0.3s;
}

.link:hover::after {
  width: 100%;
}

.imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

@media (min-width: 1900px) {
  .logo {
    margin-bottom: 120px;
  }
}
