.font-1-s,
.font-1-s-b {
  font: 400 1rem/1 "Spartan", sans-serif;
}

.font-1-s-b {
  font-weight: 700;
}

.font-1-l {
  font: 700 1.5rem/1.75 "Work Sans", sans-serif;
}

@media (min-width: 1900px) {
  .font-1-l {
    font-size: 2rem;
  }

  .font-1-s,
  .font-1-s-b {
    font-size: 1.25rem;
  }
}
